<?xml version="1.0" encoding="ISO-8859-1"?>
<beans>
    <bean id="userService06" class="com.example.springframework.beans.factory.UserService06">
        <property name="name" value="22221"></property>
        <property name="userDao06" ref="userDao06"></property>
    </bean>
    <bean id="userDao06" class="com.example.springframework.beans.factory.UserDao06"></bean>
</beans>